#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

* {
    font-family: "Montserrat", Verdana, sans-serif;
}

h1, h2, b, span {
    font-family: "Fira Sans", Arial, sans-serif;
}

b {
    font-weight: normal;
}

header {
    display: flex;
    flex-direction: row;
    border-bottom: black solid 4px;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 0;
    border-bottom: 4px solid black;
    padding-bottom: 2rem;
}

nav a {
    font-weight: 600;
    margin: 2rem 2rem 0;
}

nav a.active {
    text-decoration: none;
    font-weight: bold;
}

a, a:visited, a:active, a:hover, a:focus {
    color: black;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow-y: unset;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 1rem;
}

h1 {
    font-size: 4rem;
    margin: auto;
}

h2 {
    font-size: 2rem;
    margin: 2rem auto;
}

h3 {
    margin-bottom: 0;
    font-size: 1rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h3 + p {
    margin: 0;
}

.skeleton {
    animation: pulse 1.5s ease-in-out infinite;
    background: gray;
    border-radius: 0.5rem;
}

.skeletonFactTitle {
    height: 1rem;
    width: 6rem;
    margin: 1rem 0 0.125rem 0;
}

.skeletonFactBody {
    height: 1rem;
    width: 12rem;
    margin-top: 0.125rem;
}

.skeletonGenericTitle {
    height: 1rem;
    width: 10rem;
    margin: 1rem 0 0.125rem 0;
}

.skeletonGenericSub {
    height: 1rem;
    width: 16rem;
    margin: 0.125rem 0;
}

.skeletonGenericBody {
    height: 1rem;
    width: 18rem;
    margin: 1rem 0;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

@media (min-width: 1025px) {
    main {
        flex-direction: row;
        overflow: hidden;
    }

    nav {
        padding-bottom: 0;
        border-right: black solid 4px;
        border-bottom: 0;
    }

    nav a {
        margin: 4rem 4rem 0;
    }

    h1 {
        margin: 3rem 4rem;
    }

    h2 {
        margin: 4rem;
    }

    section {
        overflow-y: auto;
        scrollbar-color: black white;
        scrollbar-width: thin;
    }

    .skeletonGenericTitle {
        width: 12rem;
    }

    .skeletonGenericSub {
        width: 24rem;
    }

    .skeletonGenericBody {
        width: 40rem;
    }
}
